
    <link rel="stylesheet" href="style.css">

    {% extends "index.html"%}
    {%block contenido%}
<div class="parallax">
        <h1>Acerca de....</h1>
</div>
<nav>
<ul>
    <li><a href="/templates/index.html">inicio</a></li>
    <li><a href="/templates/animales.html">Animales Exoticos</a></li>
    <li><a href="/templates/autosviejos.html">Autos Viejos</a></li>
    <li><a href="/templates/lasmaravillasdelmundo.html">Las maravillas del mundo</a></li>
    <li><a href="/templates/Acercade.html">Acerca de...</a></li>
</ul>
</nav>
<p style="font-size: 20px;">En el futuro, quiero ser programador. Me interesa mucho la tecnología y cómo, a través del código, se pueden crear programas, páginas web, videojuegos y muchas otras cosas que usamos todos los días. Me parece increíble cómo con solo una computadora y conocimiento se pueden hacer ideas realidad.
Ser programador es más que solo escribir en una pantalla. Es pensar, resolver problemas, ser creativo y tener paciencia. Me gustaría aprender varios lenguajes de programación, como Python, JavaScript o C++, y usarlos para desarrollar aplicaciones útiles o divertidas. También me encantaría trabajar en equipo con otras personas que tengan la misma pasión que yo por la tecnología.
Sé que para lograrlo tengo que esforzarme y seguir aprendiendo, porque la programación cambia y mejora todo el tiempo. Pero eso es justamente lo que más me motiva: nunca dejar de aprender cosas nuevas. En resumen, en el futuro quiero ser programador porque me gusta la idea de crear, aprender y usar la tecnología para mejorar el mundo.</p>
<p style="font-size: 17px;">Guillermo Adiel Ruelas Lopez</p>
{% endblock %}

