
    <link rel="stylesheet" href="style.css">

    {% extends "index.html"%}
    {%block contenido%}
        <h1>Acerca de....</h1>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="templates/index.html">inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="templates/animales.html">animales exoticos</a>
        </li>
                <li class="nav-item">
          <a class="nav-link" href="templates/autosviejos.html">autos viejos</a>
        </li>
                <li class="nav-item">
          <a class="nav-link" href="templates/lasmaravillasdelmundo.html">las maravillas del mundo</a>
        </li>
                <li class="nav-item">
          <a class="nav-link" href="templates/acercade.html">acerca de...</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<p style="font-size: 20px;">En el futuro, quiero ser programador. Me interesa mucho la tecnología y cómo, a través del código, se pueden crear programas, páginas web, videojuegos y muchas otras cosas que usamos todos los días. Me parece increíble cómo con solo una computadora y conocimiento se pueden hacer ideas realidad.
Ser programador es más que solo escribir en una pantalla. Es pensar, resolver problemas, ser creativo y tener paciencia. Me gustaría aprender varios lenguajes de programación, como Python, JavaScript o C++, y usarlos para desarrollar aplicaciones útiles o divertidas. También me encantaría trabajar en equipo con otras personas que tengan la misma pasión que yo por la tecnología.
Sé que para lograrlo tengo que esforzarme y seguir aprendiendo, porque la programación cambia y mejora todo el tiempo. Pero eso es justamente lo que más me motiva: nunca dejar de aprender cosas nuevas. En resumen, en el futuro quiero ser programador porque me gusta la idea de crear, aprender y usar la tecnología para mejorar el mundo.</p>
<p style="font-size: 17px;">Guillermo Adiel Ruelas Lopez</p>
{% endblock %}

