 <link rel="stylesheet" href="style.css">

    {% extends "index.html"%}
    {%block contenido%}
<div class="parallax">
        <h1>Animales Exoticos</h1>
</div>
<nav>
<ul>
    <li><a href="/templates/index.html">inicio</a></li>
    <li><a href="/templates/animales.html"></a>Animales Exoticos</li>
    <li><a href="/templates/autosviejos.html">Autos Viejos</a></li>
    <li><a href="/templates/lasmaravillasdelmundo.html">Las maravillas del mundo</a></li>
    <li><a href="#">Acerca de...</a></li>
</ul>
</nav>
<p style="font-size: 20px;">Los animales exóticos son aquellos que no son originarios del lugar donde se encuentran, y suelen ser especies raras, inusuales o difíciles de encontrar fuera de su hábitat natural. Estos animales despiertan fascinación por su aspecto, comportamiento o rareza, pero su captura o comercio ilegal puede tener consecuencias negativas tanto para ellos como para el ecosistema en general.</p>
<h2>Elefante Africano</h2>
<p style="font-size: 16px;">Los elefantes africanos son gigantes del reino animal. Estos impresionantes mamíferos, los más grandes del planeta, pueden pesar hasta 6,000 kilogramos y medir hasta 3 metros de altura. Su piel gruesa y arrugada, que parece de un color grisáceo o marrón, los protege del calor extremo de las sabanas africanas, mientras que sus orejas grandes les sirven para disipar el calor. Viven en manadas sociales lideradas por una hembra adulta, y son conocidos por su memoria excepcional. Los elefantes tienen un comportamiento muy emocional, lo que les permite formar fuertes lazos familiares. Su principal amenaza es la caza furtiva por el marfil de sus colmillos, lo que ha puesto en peligro su supervivencia en algunas áreas de África.</p>
<img src="static/img/elefante.jpg">
<h2>Gorilas De Montaña</h2>
<p style="font-size: 16px;">Por otro lado, los gorilas de montaña habitan las remotas montañas de África Central, en zonas como Uganda y Ruanda. Estos majestuosos primates son conocidos por su fuerza, pero también por su carácter tranquilo y social. Los gorilas son animales herbívoros y se alimentan de plantas, frutas, cortezas y hojas. Viven en grupos familiares liderados por un macho dominante conocido como "espalda plateada". Aunque los gorilas pueden ser territoriales, su naturaleza generalmente es pacífica. Lamentablemente, su población está en peligro debido a la caza furtiva y la pérdida de hábitat por la actividad humana.</p>
<img src="static/img/gorila.jpg">
<h2>ballena azul</h2>
<p style="font-size: 16px;">En el mundo marino, la ballena azul es el mayor animal conocido que haya existido en la Tierra. Este mamífero marino, que puede alcanzar hasta 30 metros de longitud y pesar más de 180 toneladas, es una maravilla de la naturaleza. A pesar de su tamaño colosal, se alimenta principalmente de krill, pequeños crustáceos que filtra del agua con sus barbas. Las ballenas azules son animales migratorios, viajando grandes distancias entre los mares fríos donde se alimentan y las aguas más cálidas donde dan a luz. Aunque su número ha disminuido significativamente debido a la caza comercial en el pasado, ahora se encuentran protegidas por leyes internacionales.</p>
<img src="static/img/ballena azul.jpg">
<h2>pez payaso</h2>
<p style="font-size: 16px;">El pez payaso, tan famoso por su relación con las anémonas marinas, es un pequeño pero vibrante habitante de los arrecifes de coral. Este pez, con su distintivo color naranja y blanco, se esconde entre los tentáculos de las anémonas, las cuales ofrecen protección contra depredadores gracias a sus células urticantes. El pez payaso, a su vez, protege a las anémonas al limpiarles los restos de comida y parásitos. Este es un claro ejemplo de simbiosis, donde ambos animales se benefician mutuamente. Además, el pez payaso es muy popular gracias a su aparición en películas como Buscando a Nemo.</p>
<img src="static/img/pez payaso.jpg">
<h2>aguila real</h2>
<p style="font-size: 16px;">En el aire, el águila real destaca como una de las aves de presa más imponentes del planeta. Con su enorme envergadura, que puede llegar a medir hasta 2.3 metros, el águila real se puede encontrar en áreas montañosas de todo el hemisferio norte, desde América del Norte hasta Europa y Asia. Su plumaje es marrón con una capa dorada en la cabeza, y su vista, extremadamente aguda, le permite localizar presas desde grandes distancias. Es conocida por cazar mamíferos pequeños y aves, y por su capacidad para volar a gran altura, planeando de manera majestuosa</p>
<img src="static/img/aguila real.jpg">
<h2>Colibri</h2>
<p style="font-size: 16px;">El colibrí es una de las aves más pequeñas del mundo, pero su agilidad y capacidad para volar en todas las direcciones lo convierten en un espectáculo de la naturaleza. Con plumas brillantes que varían entre colores como el verde esmeralda, el rojo y el azul, el colibrí es un experto en el vuelo estacionario. Se alimenta principalmente del néctar de las flores, y su vuelo es tan rápido que puede batir sus alas hasta 80 veces por segundo. Además, juega un papel crucial en la polinización de muchas plantas, ayudando a la biodiversidad de los ecosistemas en los que vive.</p>
<img src="static/img/colibri.jpg">
<h2>cangrejo de rio</h2>
<p style="font-size: 16px;">Por otro lado, el cangrejo de río es un crustáceo que habita en ríos y lagos de todo el mundo. Aunque no es tan conocido como otros animales marinos, tiene una importancia ecológica significativa, ya que actúa como limpiador de los ecosistemas acuáticos, alimentándose de materia orgánica en descomposición. Los cangrejos de río tienen un exoesqueleto fuerte que los protege de depredadores, y sus grandes pinzas les sirven tanto para defenderse como para capturar presas. Aunque en muchos lugares son considerados una delicia gastronómica, su presencia también es esencial para la salud de los cuerpos de agua.</p>
<img src="static/img/cangrejo.jpg">
<h2>suricata</h2>
<p style="font-size: 16px;">En las áridas sabanas de África, encontramos a las suricatas, pequeños mamíferos que viven en grupos organizados, conocidos por su conducta social altamente estructurada. Se alimentan principalmente de insectos, pero también consumen pequeños reptiles y frutas. Lo más sorprendente de las suricatas es su vigilancia constante: uno de ellos se encarga de vigilar el horizonte para alertar a la manada de la llegada de depredadores. Cuando no están de guardia, las suricatas se agrupan en grandes túneles subterráneos que excavan para protegerse del calor.</p>
<img src="static/img/suricata.jpg">
{% endblock %}

