<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="parallax">
        <h1>Desarrollo de Plantilla Base</h1>
</div>
<nav>
<ul>
    <li><a href="/templates/index.html">inicio</a></li>
    <li><a href="/templates/animales.html"></a>Animales Exoticos</li>
    <li><a href="/templates/autosviejos.html">Autos Viejos</a></li>
    <li><a href="/templates/lasmaravillasdelmundo.html">Las maravillas del mundo</a></li>
    <li><a href="#">Acerca de...</a></li>
</ul>
</nav>
<h2>Informacion Inicial</h2>
<p style="font-size: 20px;" id="Inicio1">En esta pagina web se podria buscar y encontrar cosas interesantes por ejemplo animales muy especiales los animales exoticos como autos viejos y como las maravillas del mundo esta pagina web es mas de brindar informacion que de algo mas en esta pagina web podras destellar mucha informacion que te guste o que le guste a los demas puedes ver informacion de tus animales favoritos como de animales que no savias que existian esta pagina trata sobre todo eso como animales autos y las grandes y bellaz maravillas del mundo</p>
<p style="font-size: 17px;" id="Inicio2">esta es algo de informacion del que se hablara de el de los animales exóticos Son especies de fauna que no son comunes en ciertos ecosistemas o países, como el tigre blanco, el axolotl o el tucán. Estos animales suelen ser apreciados por su rareza y belleza, pero también enfrentan riesgos como la extinción debido a la caza ilegal y la destrucción de hábitats naturales.</p>
<p style="font-size: 17px;" id="Inicio2">ahora sobre los autos viejos Los autos clásicos, generalmente modelos que tienen más de 25 años, son apreciados por coleccionistas y entusiastas debido a su diseño único, su ingeniería vintage y su valor histórico. Marcas como Ford, Chevrolet y Mercedes-Benz son algunos de los ejemplos más populares.</p>
<p style="font-size: 17px;" id="Inicio2">ahora de las maravillas del mundo Hay siete maravillas del mundo antiguo, como la Gran Pirámide de Giza, y las maravillas del mundo moderno, como la Gran Muralla China y el Machu Picchu. Estas maravillas son consideradas impresionantes logros de la ingeniería humana y naturaleza, destacándose por su belleza y relevancia cultural.</p>
<div class=container><img src="static/img/patitorey.jpg">
<img src="static/img/noseautoviejo.jpg">
<img src="static/img/piramides.jpg"></div>


</body>
</html>